@using WebApplication1.Migrations
@model Images

<div class="container">
    <form asp-controller="Admin" asp-action="AddOrUpdateImage" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="mb-1">
            <label for="ImageURL" class="form-label">Upload Multiple Images</label>
            <input type="file" id="ImageURL" name="ImageURL" multiple class="form-control">
        </div>

        <div class="mb-1">
            <label class="form-label" asp-for="ProductId">Select Product </label>
            <select asp-for="ProductId" class="form-control" asp-items="@ViewBag.Product">      
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>