@using WebApplication1.Models;
@model Category

<h1> Category Detail</h1>
<a asp-action="Category" asp-controller="Admin">Back to List</a>

<table class="table table-responsive table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>
                <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@Model.Id">Delete</a>
                <a asp-controller="Admin" asp-action="AddOrUpdateProduct" asp-route-id="@Model.Id">Edit</a>

            </td>
        </tr>

    </tbody>
</table>
